@model LavanderiaWeb.Utils.Paginador<Producto>
@* @model IEnumerable<LavanderiaWeb.Models.Producto> *@

@{
    ViewData["Title"] = "Búsqueda de Productos";
}

<div class="text-center">
    <h1 class="display-5" id="titulo">@ViewData["Title"]</h1>
</div>

@{
    var cFilas=0;
}

<div id="panel">
    <form method="get" action=@Url.Action("List", "Producto")>
    <div class="row form-group">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
            <table class="table table-borderless table-hover">
                <tr>
                    @if(Model.Resultado.Count()>1){
                        <span id="letra"><strong>@Model.TotalRegistros</strong> resultados encontrados</span>
                    }else if(Model.Resultado.Count()==1){
                        <span id="letra"><strong>@Model.TotalRegistros</strong> resultado encontrado</span>
                    }
                    else{
                        <span id="letra">No hay resultados para esta búsqueda</span>
                    }
                </tr>
            </table>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
            <table class="table table-borderless table-hover">
                <tr>
                    @if(Model.Resultado.Count()>0){
                        <span id="letra">Página <strong>@(Model.PaginaActual)</strong> de <strong>@(Model.TotalPaginas)</strong></span>
                    }
                </tr>
            </table>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 text-left">
            <div class="inner-addon left-addon">
                <img src="/UrlStaticFiles/BuscarNegro.png" width="36px" data-toggle="tooltip" data-placement="bottom" title="Buscar" class="glyphicon glyphicon-user"/>
                <input name="buscarProductos" type="text" class="form-control" placeholder="Buscar"/>
            </div>
        </div>
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 text-right">
            <button type="submit" data-toggle="tooltip" data-placement="bottom" title="Buscar Productos" id="boton"><img src="/UrlStaticFiles/button-buscar.png"></button>
            <button type="reset" data-toggle="tooltip" data-placement="bottom" title="Limpiar campo" id="boton"><img src="/UrlStaticFiles/button-limpiar.png"></button>
            <button asp-controller="Producto" asp-action="Create" data-toggle="tooltip" data-placement="bottom" title="Registrar Producto" id="boton"><img src="/UrlStaticFiles/button-agregar.png"></button>
        </div>
    </div>
    </form>
    
    <hr>
    
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <table class="table table-borderless table-hover text-center">
                <thead id="tablaCabezaFactura">
                    <tr>
                        <th scope="col" id="CeldaRedondeadaArribaIzquierda">
                            ID
                        </th>
                        <th scope="col">
                            @* @Html.DisplayNameFor(model=>model.Resultado.RazonSocial) *@DESCRIPCIÓN
                        </th>
                        <th scope="col">
                            @* @Html.DisplayNameFor(model=>model.Resultado.DireccionFiscal) *@PRECIO
                        </th>
                        <th scope="col">
                            @* @Html.DisplayNameFor(model=>model.Resultado.Telefono) *@CATEGORÍA
                        </th>
                        <th scope="col" id="CeldaRedondeadaArribaDerecha">
                            MODIFICAR
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @if(Model.Resultado.Count()>0){
                        @foreach(var item in Model.Resultado){
                            cFilas++;
                            <tr id="tablaCuerpoFactura">
                                @{
                                    if(cFilas!=Model.Resultado.Count()){
                                        <td>
                                            @Html.DisplayFor(modelItem=>item.Id)
                                        </td>
                                    }else{
                                        <td id="CeldaRedondeadaAbajoIzquierda">
                                            @Html.DisplayFor(modelItem=>item.Id)
                                        </td>
                                    }
                                }
                                <td>
                                    @Html.DisplayFor(modelItem=>item.Descripcion)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem=>item.Precio)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem=>item.Categoria.Descripcion)
                                </td>
                                @{
                                    if(cFilas!=Model.Resultado.Count()){
                                        <th scope="row">
                                            <button id="boton"><a asp-action="Edit" asp-route-id="@item.Id" data-toggle="tooltip" data-placement="bottom" title="Editar Producto"><img src="/UrlStaticFiles/button-Editar.png"></a></button>
                                            <button id="boton"><a asp-action="Delete" asp-route-id="@item.Id" data-toggle="tooltip" data-placement="bottom" title="Eliminar Producto"><img src="/UrlStaticFiles/button-Eliminar.png"></a></button>
                                        </th>
                                    }else{
                                        <th scope="row" id="CeldaRedondeadaAbajoDerecha">
                                            <button id="boton"><a asp-action="Edit" asp-route-id="@item.Id" data-toggle="tooltip" data-placement="bottom" title="Editar Producto"><img src="/UrlStaticFiles/button-Editar.png"></a></button>
                                            <button id="boton"><a asp-action="Delete" asp-route-id="@item.Id" data-toggle="tooltip" data-placement="bottom" title="Eliminar Producto"><img src="/UrlStaticFiles/button-Eliminar.png"></a></button>
                                        </th>
                                    }
                                }
                            </tr>
                        }
                    }else{
                        <tr id="tablaCuerpoFactura">
                            <td scope="col" id="CeldaRedondeadaAbajoIzquierda">
                                
                            </td>
                            <td colspan="4">
                                <p>No hay nigún Producto registrado</p>
                            </td>
                            <td scope="col" id="CeldaRedondeadaAbajoDerecha">
                                
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <center>
                @if(Model.TotalPaginas>0){
                    @if(Model.PaginaActual>1){
                        @Html.ActionLink("<", "List", new {pagina=1, buscarProductos=Model.BusquedaActual}, new{@id="letra", @style="text-align: text-center;"})
                    }else{
                        @Html.ActionLink("<", "List", new{pagina=1, buscarProductos=Model.BusquedaActual}, new{@id="letra", @style="text-align: text-center;", @onclick="return false;"})
                    }@for(int i=1; i<=Model.TotalPaginas; i++){
                        if(i!=Model.PaginaActual){
                            <a href="~/Producto/List?pagina=@i" id="letra">@i</a>
                        }else{
                            <b><a href="~/Producto/List?pagina=@i" onclick="return false;" id="letra">@i</a></b>
                        }
                    }@if(Model.PaginaActual<Model.TotalPaginas){
                        @Html.ActionLink(">", "List", new{pagina=Model.TotalPaginas, buscarProductos= Model.BusquedaActual}, new{@id="letra", @style="text-align: text-center;"})
                    }else{
                        @Html.ActionLink(">", "List", new{pagina=Model.TotalPaginas, buscarProductos=Model.BusquedaActual}, new{@id="letra", @style="text-align: text-center;", @onclick="return false;"})
                    }
                }
                <div class="row">
                </div>
            </center>
        </div>
    </div>
</div>